.fullPage {
	/* overflow-y: auto; */
	display: flex;
	flex-direction: column;
	background-image: url("../Images/wallpaper.jpg");
	background-repeat: repeat;
	background-size: contain;
	background-position: center;
}

.imgContainer {
	margin-top: 110px;
	width: 100%;

	z-index: 1;
}

.stateofmindContainer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	max-height: 100vh;
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
}

.aboutme {
	position: absolute;
	bottom: 0;
	left: 0;

}

.stateofmind {
	width: 500px;
}

.scroll-container {
	background-color: #333;
	overflow: hidden;
	white-space: nowrap;
	float: left;
	animation: scroll 80s linear infinite;
}

@media (min-width: 1442px) {
	.stateofmindContainer {
		position: fixed;
		bottom: 0;
		left: 0;
		height: 150px;
		width: 100%;
		max-height: 100vh;
		background-color: black;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.stateofmind {
		width: 625px;
	}

	.imgContainer {
		margin-top: 160px;
		width: 100%;

		z-index: 1;
	}
}

.logoimg {
	width: 400px;
	height: 400px;
}

@keyframes scroll {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(-100%);
	}
}

.scroll-container img {
	padding: 10px;
}
