.fullPage {
	max-height: 100vh;
	overflow: auto;
}

.imgContainer {
	/* bottom: 0; */
	background-color: white;

	width: 100vw;
	height: 10px;
	/* position: absolute; */
	/* top: 50%; */
	/* left: 50%;
	transform: translate(-50%, -50%); */
	/* z-index: -1; */
}

.fullPage {
	overflow-y: auto;
}

.bookNow {
	position: absolute;
	bottom: 11%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
}

.logoimg {
	width: 300px;
	height: 300px;
}

.presChair {
	/* z-index: -1; */
	width: 100%;
	/* max-height: 100vh; */
	/* overflow: auto; */
}

@keyframes scroll {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-100%);
	}
}

.scroll-container {
	background-color: #333;
	overflow: hidden;
	white-space: nowrap;

	padding: 10px;
	/* width: 300%; */
	/* display: inline-block; */
	float: left;
	animation: scroll 80s linear;
}

.scroll-container img {
	padding: 10px;
	/* float: left; */
	/* animation: scroll 70s linear infinite; */
}

button.book {
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
	font: inherit;
	outline: inherit;
	font-size: 14px;
	transition: color 2s, font-size 1s;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	text-transform: uppercase;
	font-style: oblique;
	letter-spacing: 5px;
}

button.book:hover {
	color: #32cd32;
	font-size: 18px;
}
