.fullPage {
	/* overflow-y: auto; */
	display: flex;
	flex-direction: column;
	background-image: url("../Images/wallpaper.jpg");
	background-repeat: repeat;
	background-size: contain;
	background-position: center;
}

.imgContainer {
	/* bottom: 7; */
	/* background-color: white; */
	margin-top: 110px;
	width: 100%;
	/* height: 10px; */
	/* position: fixed; */
	z-index: 1;
}

.stateofmindContainer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	max-height: 100vh;
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
}

.stateofmind {
	width: 500px;
}

.scroll-container {
	background-color: #333;
	overflow: hidden;
	white-space: nowrap;

	/* padding: 5px; */
	/* width: 300%; */
	/* display: inline-block; */
	float: left;
	animation: scroll 80s linear infinite;
}

@media (min-width: 1442px) {
	.stateofmindContainer {
		position: fixed;
		bottom: 0;
		left: 0;
		height: 150px;
		width: 100%;
		max-height: 100vh;
		background-color: black;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.stateofmind {
		width: 625px;
	}

	.imgContainer {

	margin-top: 160px;
	width: 100%;

	z-index: 1;
}
}

.logoimg {
	width: 400px;
	height: 400px;
}
/*
.logoContainer {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 700px;
	/* height: 10px; */
/* position: fixed; */
/* top: 0;
	left: 0; */
/* z-index: -1; */

/* .logo {
	width: 100%;
	height: 100%;
} */

@keyframes scroll {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-100%);
	}
}

.scroll-container img {
	padding: 10px;
}

/* button.book {
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
	font: inherit;
	outline: inherit;
	font-size: 14px;
	transition: color 2s, font-size 1s;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	text-transform: uppercase;
	font-style: oblique;
	letter-spacing: 5px;
}

button.book:hover {
	color: #32cd32;
	font-size: 18px;
} */
