/* body {
    background-color:darkslategray
} */

#root {
    margin-top: 110px;
    overflow-x: clip;
    /* width: max-content; */
}


button{
    background: none;
    border:none;
    
    color:darkslategray;
    box-shadow: -2px 2px 5px 0 rgba(63, 62, 62, 0.52);
	font-style: normal;
	font-family: "Futura PT", sans-serif;
	border-radius: 1px;
	font-style: oblique;
	letter-spacing: 5px;
    /* padding-left: 20px; */
}

button:hover{
    	color:#4caf50
}
