/* body {
    background-color:darkslategray
} */

#root {
    margin-top: 110px;
    overflow-x: clip;
    /* width: max-content; */
}

button{
    background: none;
    /* border:none; */
    color:darkslategray;

    /* padding-left: 20px; */
}
