/* .profile-dropdown {
	position: absolute;
} */

/* .hidden {
	display: none;
}

#navigation-container {
	display: flex;
	font-family: Arial, sans-serif;
	text-transform: uppercase;
	justify-content: flex-end;
	padding-bottom: 20px;
	letter-spacing: 15px;
	width: 100%;
	align-items: center;
	background-color: white;
	position: fixed;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	text-transform: uppercase;
	font-style: normal;
	letter-spacing: 15px;
	text-decoration: none;
	top: 0;
	left: 0;
	z-index: 1;
}

.barberPole {
	position: absolute;
	align-content: center;
	z-index: 1;
	top: 50%;
	left: 20px;
	transform: translate(-50%, -50%);
	height: 85px;
}

.nav-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin-left: 45px;
	gap: 16px;
}



.shopSign {
	position: fixed;
  z-index: 1;
  left: 40px;
	letter-spacing: 18px;
	font-weight: lighter;
	padding-top: 11px;
}

.components {
	display: flex;
}

h1 {
	color: #32cd32;
}

a:link {
	text-decoration: none;
}

h2 {
	display: flex;
	flex-direction: row;
} */
