/* .profile-dropdown {
	position: absolute;
} */

.hidden {
	display: none;
}

.navigation-container {
	/* display: flex; */
	/* flex-direction: row; */
	text-decoration: none;
	overflow: hidden;
	background-color: #333;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
	background-color: black;
	/* background-color: white; */
	z-index: 1;
}

.componentWrapper {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	gap: 14px;
}

.barberPole {
	padding-left: 10px;
	height: 95px;
}

.components {
	display: flex;
	justify-content: flex-end;
	/* flex-direction: row; */
	font-size:10px;
	font-style: normal;
	font-family: "Futura PT", sans-serif;
	text-transform: uppercase;
	font-style: oblique;
	letter-spacing: 4px;
	padding-top: 14px;
	width: 100%;
	color: #32cd32;
}

.shopName {
	display: flex;
	width: 100%;
	color: white;
	letter-spacing: 16px;
	font-size: 15.5px;
	/* margin-right: 10px; */
	/* color: black; */
}

.h2Tags {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: baseline;
	gap: 40px;
	padding-top: 20px;
	transition: color 5s, font-size 5s;
}

.userButton {
	display: flex;
}

a:link {
	text-decoration: none;
}


a:-webkit-any-link {
	color: #32cd32;
	cursor: pointer;
}
h2 {
	flex-direction: row;
}

a:-webkit-any-link:hover {
	color: #787878
}
h2:hover{
	color: #787878
}
