/* .profile-dropdown {
	position: absolute;
} */

.hidden {
	display: none;
}

.nav-wrapper {

  display: flex;
  flex-direction: row;
  margin: 20px, 2px;
  /* text-align: right; */
  gap: 16px;
  /* position: fixed; */
  /* right: 0; */
  /* text-align: right; */
  /* vertical-align: middle; */
}

#navigation-container {
  display: flex;
  align-items: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: 15px;
  line-height: 1.2em;
  width: 100%;
  margin: 0 auto;
  padding: 20px 25px;
  align-items: flex-start;
	margin-top: auto;
	background-color: white;
	position: fixed;
	top: 0;
	left: 0;
	/* z-index: 1; */
}

.home-icon {
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	text-transform: uppercase;
	font-style: normal;
	letter-spacing: 15px;
	text-decoration: none;
  display: flex;
  flex-direction: row;
	/* line-height: 1.2em; */
	/* width: 100%; */
	/* margin: 0 auto; */
	/* padding: 20px 25px; */

}

.barberPole {
	position: absolute;
	align-content: center;
	z-index: 1;
	position: absolute;
	top: 50%;
	left: 1;
	transform: translate(-50%, -50%);
	height: 90px;
}

/* .shopSign {
  margin-left: 20px;
} */

h1 {
  /* display: flex; */
  color: #32cd32;
}

a:link { text-decoration: none; }

h2 {
  display: flex;
  flex-direction: row;
}
