.profileButtonContainer {
    display: flex;
}

button.profileButton {
    background: none;
	border: none;
	padding: 0;
	/* display: flex; */
	/* flex-direction: row; */
	/* justify-content: flex-start; */
}
