.profileButtonContainer {
    display: flex;
	color: #32cd32;
}

.userInfo {
	/* color: #32cd32; */
}

button.profileButton {
    background: none;
	border: none;
	padding: 0;
	/* display: flex; */
	/* flex-direction: row; */
	/* justify-content: flex-start; */
}
