
.pageContainer {
  position: fixed;
  left: 0;
  right: 0;
}

.row {
	display: flex;
	height: 100%;

}

.leftColumn {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	width: 600px;
	box-shadow: 0 20px 20px 0px #777;
	background-color: black;
	/* background-image: url("../Images/blkBackGround.jpeg"); */
	overflow: hidden;
}

.rightColumn {
	width: 100%;
	/* justify-content: flex-start; */
}

.tablink {
	background-image: url("../Images/background.jpeg");
	background-size: cover;
	color: white;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	font-size: 17px;
	width: 25%;
}

.tablink:hover {
	background-color: #777;
}

.tabcontent {
	color: black;
	display: none;
	padding: 100px 20px;
	height: 100%;
	width: 100%;
}
@keyframes scroll2{
	0% {
		transform: translateX(0%);
	}
	50% {
		transform: translateX(0%);
	}
	50% {
		transform: translateX(20%);
	}
}


.barberimg {
	width: 300px;
	height: 100px;
	margin-top: -100px;

	/* border-radius: 150px; */
}


.video{
	padding-top: 48px;
	width:475px;
	height: 300px;
}



.stateofmind {
	display: flex;
	align-items: center;
	width: 450px;
	height: 63px;
	z-index: 1;
	padding-bottom: 30px;
}
.shop {
	margin-top: -100px;
	width: 780px;
	height: 100vh;
	object-fit:scale-down;
	overflow: hidden;
	white-space: nowrap;
	float: left;
	animation: scroll2 100s linear infinite;
}

button.tablink {
	cursor: pointer;
	font: inherit;
	font-size: 14px;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	text-transform: uppercase;
	font-style: oblique;
	letter-spacing: 5px;
}

button.tablink:hover {
	color: #32cd32;
	font-size: 18px;
}
